body{
    background-color: #0d0d0d;
    color: white;
}
.cont-color{
    background-color: #171717;
}

.sub-text{
    color: #abaaab;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.center-x{
    display: flex;
    justify-content: center;
}

.center-y{
    display: flex;
    align-items: center;
}

.intra-layout{
    height: 84%;
    width: 96%;
}
